<div ng-include src="'/partials/header.html'"></div>

<div class="view">
<div class="about offset2 span6">

<h3>Welcome to Copper Heart.</h3>

<p>We all know people who are musicians, artists, organizers, 
	programmers or writers. And we want to help, to contribute 
	to their cause.</p>

<p>Copper Heart makes patronage easy. It's is a way for communities 
	to support people doing good work.</p>


<p class="section"><strong>Donating</strong> is a personal act, 
	yet most of the time &ndash; on the web &ndash; our only option 
	is a Paypal button to donate now. What does that even mean? 
	How much do these people need, and where does the money go?</p>

<p>Kickstarter and Indiegogo are wonderful, giving 
	hundreds of millions of dollars to our friends, to strangers,
	for a chance to work on their dreams, or at least a cool project.
	But what happens after that project is complete?</p> 


<p class="section"><strong>Backing</strong> a project is about helping 
	the people behind a cause, helping them put a roof over their heads, 
	helping them relax after a worthwhile day. It's about helping them 
	know a community has their backs, that we're in this together.</p>

<p>Copper Heart is a way to make 
	monthly contributions to people you know, using your credit card.</p>


<p>About 97 percent of each contribution goes 
	directly to the person you're supporting. The other 3 percent goes 
	to <a href="http://stripe.com">Stripe</a>, for handling confidential
	data and processing cards. 

<p>Anyone in the United States or Canada can contribute.</p>


<p class="section"><strong>You</strong> can set up your own Copper Heart
in about a day. The <a href="https://github.com/exclsr/copperheart">code for this 
project</a> is freely available on GitHub.</p>

</div>
</div>

