<div ng-include src="'/partials/header.html'"></div>

<div class="view">
<div class="about offset2 span6">
	<h3>Welcome to Copper Heart.</h3>
	<p>Copper Heart makes patronage easy. It's a way for communities 
	to support people doing good work.</p>
</div>

<div class="about offset2 span6">
	<h3>Background.</h3>
	<p>We all know musicians, artists, organizers, 
	programmers or writers. And we want to help, to contribute 
	to their cause.</p>

	<p>Copper Heart is a way to make 
	monthly contributions to people you know, using your credit card.</p>

	<p>About 97 percent of each contribution goes 
	directly to the person you're supporting. The other 3 percent goes 
	to <a href="http://stripe.com">Stripe</a>, for handling confidential
	data and processing cards. 

	<p>Anyone in the United States or Canada can contribute.</p>
</div>

<!-- TODO: Notes for further writing:
 	<p class="section">Donating is a personal act, 
	yet most of the time &ndash; on the web &ndash; our only option 
	is a Paypal button. What does that even mean? 
	How much do these people need, and where does the money go?</p>

	<p>Kickstarter and Indiegogo are wonderful, giving 
	hundreds of millions of dollars to our friends, to strangers,
	for a chance to work on their dreams, or at least a cool project.
	But what happens after that project is complete?</p> 


	<p class="section">Backing a project is about helping 
	the people behind a cause, helping them put a roof over their heads, 
	helping them relax after a worthwhile day. It's about helping them 
	know a community has their backs, that we're in this together.</p> -->

<div class="about offset2 span6">
<h3>Made in Oregon, USA.</h3>
<p>Copper Heart is influenced by the work of 
	<a href="http://en.wikipedia.org/wiki/Jonathan_Haidt">Jonathan Haidt</a>
	and his moral foundations theory, and by 
	<a href="http://heathbrothers.com/">the Heath brothers</a> and their
	work in psychology.</p>

<p><a href="http://www.kickstarter.com/">Kickstarter</a> accentuates our societal 
	moment of crowd funding, with <a href="https://stripe.com">Stripe</a> and 
	<a href="https://www.nodejitsu.com">Nodejitsu</a> making services to 
	give projects like these a place to stand, joining the chorus of 
	<a href="https://gumroad.com">Gumroad</a>, 
	<a href="https://www.gittip.com">Gittip</a>,
	and
	<a href="http://bandcamp.com">Bandcamp</a>.</p>

<p>This engineering work is made possible by the freely available 
	<a href="http://nodejs.org">Node.js</a>, 
	<a href="http://expressjs.com/">express</a>, 
	<a href="http://couchdb.apache.org">Apache CouchDB</a>, 
	<a href="http://angularjs.org/">AngularJS</a>, 
	<a href="http://jquery.com/">jQuery</a>, 
	<a href="https://github.com/">GitHub</a>, 
	and many communities like the
	<a href="http://opensource.org">Open Source Initiative</a>, 
	who have created a wealth of tools for the benefit of all humanity.</p>

<p>This is a <a href="http://secretproject.org">secret project</a>, inspired by the
	<a href="http://corvallisswing.com">Corvallis Swing Dance Society</a>.</p>
<p>Created in Corvallis, Oregon.</p>
</div>

<div class="about offset2 span6">
	<h3>Create your own.</h3>
	<p class="section">You can set up your own Copper Heart
	in about a day. The <a href="https://github.com/exclsr/copperheart">code for this 
	project</a> is freely available on GitHub.</p>
</div>

</div>

