<div ng-include src="'/partials/header.html'"></div>

<div class="view span12">
	<div class="whatContribution span11">
		<div class="span4">
			<h3>contributing</h3>
			<ul class="contributionList">
				<li class="contribution" ng-repeat="thing in things">
					<div ng-class="{ notPossible: thing.recurring && isLoginNeeded() }">
						<span>A {{thing.unit}} of {{thing.name}}</span>
						<span ng-show="thing.recurring">each {{thing.frequency}}</span>
						<span class="glyph {{thing.id}}"></span>
					</div>
				</li>
			</ul>
		</div>

		<div class="span3">
			<h3>to</h3>
			{{who.name}}
		</div>

		<div class="span3">
			<h3>from</h3>
			{{patron.getUsername()}}
			<span ng-show="isLoginNeeded()"> 
				| 
				<a href="/auth/google?from=#/{{pageName}}">log in</a>
			</span>
			<div class="bubble" ng-show="isLoginNeeded()">Please log in 
				if you'd like to make recurring contributions, so you can 
				change them in the future.</div>
		</div>
	</div>

	<form novalidate id="payment-form" class="css-form">
		<div class="whenContribution span11">
			<div class="span10">
				<h3>when</h3>
				<div><span class="heart">♥</span> {{priceNow | currency}} now.</div>
				<div ng-hide="pricePerMonth <= 0 || isLoginNeeded()"><span class="copper heart">♥</span> {{pricePerMonth | currency}} each month, starting on the 
					<select class="paymentDay" ordinal ng-model='paymentDay'>
						<option ng-repeat="day in daysOfTheMonth">{{day | ordinal}}<option>
					</select>
					day of {{nextMonth | month}}.</div>
			</div>
		</div>

		<div class="howContribution span11">
			<div class="span10">
			<h3>how</h3>
				<div class="card pull-left well">
					<div class="form-row cardNumberRow">
						<input class="cardNumber pull-right" type="text" size="20" data-stripe="number" 
						ng-model="cc.number" placeholder="Credit or debit card number"/>
					</div>

					<div class="form-row expirationRow">
						<div class="pull-right">
							<span class="expText">Expiration date </span>
							<select class="expMonth" data-stripe="exp-month" ng-model="cc.expMonth">
								<option ng-repeat="month in months">{{month}}</option>
							</select>
							<span>/</span>
							<select class="expYear" data-stripe="exp-year" ng-model="cc.expYear">
								<option ng-repeat="year in years">{{year}}</option>
							</select>
						</div>
					</div>

					<div class="form-row cvcRow">
						<div class="pull-right">
							<input class="cvcNumber" type="text" size="4" data-stripe="cvc" 
							ng-model="cc.cvc" placeholder="cvc"/>
						</div>
					</div>
				</div><!-- end card -->

				<!-- <h2><span ng-repeat="thing in things">
					<span class="heart" ng-show="thing.canHaz && !thing.recurring">♥</span>
					<span class="recurringHeart" 
						ng-show="thing.canHaz && thing.recurring">♥</span>
					</span>&nbsp;</h2> -->

				<div class="payment-errors errorBubble span5" ng-show="isErrorHappening()">
					<div class="cardError" ng-show="errors.isCard">
						<p>Sorry, it seems the card isn't working. Maybe
						different numbers are needed.</p>
					</div>

					<div class="stripeApiError" ng-show="errors.isApi">
						<p>Sorry, our credit card processor seems to be
						having some issues at the moment.</p>

						<p>Please try pressing the button again. But if 
						that doesn't work, you might have to come back 
						in a bit.</p>
					</div>

					<div class="programmerError" ng-show="errors.isProgrammer">
						<p>Hey, check your console for errors, because
						there is a misconfiguration.</p>
					</div>
				</div>

				<div style="clear: left">
					<button class="btn" ng-click="makeContribution()">Contribute</button>
					<!-- TODO: Make a CSS animation to show something is happening. -->
					{{status}}
				</div>
			</div>
		</div>
	</form>

<!-- <pre style="clear: both; margin-top: 40em">{{things | json}}</pre>
 -->
</div>
