<div ng-include src="'/partials/header.html'"></div>

<div class="view">
<div class="span12">
	<div class="row">
		<ul class="nav nav-tabs" style="padding-top: 1em">
			<li ng-class="{ active: isEqual(subEdit, 'about') }"><a href="#/edit">about</a></li>
			<li ng-class="{ active: isEqual(subEdit, 'communities') }"><a href="#/edit/communities">communities</a></li>
			<li ng-class="{ active: isEqual(subEdit, 'things') }"><a href="#/edit/things">things</a></li>
			<li ng-class="{ active: isEqual(subEdit, 'account') }"><a href="#/edit/account">account</a></li>
		</ul>
	</div>

	<div ng-hide="!isEqual(subEdit, 'about')" 
		ng-include src="'/partials/edit/about.html'">
	</div>

	<div ng-show="isEqual(subEdit, 'communities')"
		ng-include src="'/partials/edit/communities.html'">
	</div>

	<div ng-show="isEqual(subEdit, 'things')"
		ng-include src="'/partials/edit/things.html'">
 	</div>

	<div ng-show="isEqual(subEdit, 'account')"
		ng-include src="'/partials/edit/account.html'">
	</div>
</div>
</div>