<div ng-include src="'/partials/header.html'"></div>

<div class="view">
<div class="span12">

	<ul class="nav nav-tabs" style="padding-top: 1em">
		<li ng-class="{ active: isEqual(subEdit, 'profile') }"><a href="#/edit">profile</a></li>
		<li ng-class="{ active: isEqual(subEdit, 'things') }"><a href="#/edit/things">things</a></li>
		<li ng-class="{ active: isEqual(subEdit, 'account') }"><a href="#/edit/account">account</a></li>
	</ul>

	<div ng-hide="!isEqual(subEdit, 'profile')">
		<div class="currentlyDoing">

			<h3>who are you, what are you working on?</h3>
			<div class="span3">
				<div style="background-color: #999"><img ng-src="{{profileImageUrl}}" style="width: 270px; height: 200px"/></div>
				<div style="margin: 1ex; margin-right: 0; margin-left: 0; margin-top: 1.4ex">Main profile image
					<div class="btn fileinput-button" style="float: right; margin-top: -5px">
						Upload ...
						<input uploader type="file" data-url="member/profileImage" name="profileImage"		
						onUpload="profileImageUploaded()" />
					</div>
				</div>
			</div>

			<div class="who span6" style="height: 315px">
				<input ng-model="name" class="name" type="text"/>
				<textarea ng-model="present" class="span6" style="height: 225px;"></textarea>
				<button class="btn" ng-click="saveProfile()">Save</button>
			</div>

			<div class="projects span8" style="clear: left; float: left; margin-top: 2em">
				<div class="span4">
					<h3>Communities</h3>
					<ul style="margin-bottom: 0">
						<li ng-repeat="community in communities" class="communityContainer">
							<span>{{community.name}}</span>
							<span class="thingTrashIcon" ng-click="deleteCommunity(community)">
								<i class="icon-trash" 
								style="margin-left: 1.5ex; margin-bottom: 2px; vertical-align: bottom"></i>
							</span>
						</li>
					</ul>

					<ul ng-hide="isAtCommunityLimit()" style="margin-top: 0">
						<li>
							<form ng-submit="saveCommunity()">
								<input ng-model="newCommunity.name" type="text" style="margin-top: 10px"
								placeholder="community name" />
								<!--
								TODO: A community url could have a place in the future, but not at the moment.
 								<input ng-model="newCommunity.url" type="text" style="margin-top: -8px" 
								placeholder="web address (url)" /> -->
								<button type="submit" class="btn" style="margin-top: -18px">Add</button>
							</form>
						</li>
					</ul>
				</div>


				<!--
				TODO: Passions could play a role in a future design of Copper Heart, but
				I think for the time being we need to finish other parts first.
	 			<div class="span3">
					<h3>Passions</h3>
					<ul style="margin-bottom: 0">
						<li ng-repeat="passion in passions" class="passionContainer">
							<span class="">{{passion}}</span>
							<span class="thingTrashIcon" ng-click="deletePassion(passion)">
								<i class="icon-trash" 
								style="margin-left: 1.5ex; margin-bottom: 2px; vertical-align: bottom"></i>
							</span>
						</li>
					</ul>

					<ul ng-hide="isAtPassionLimit()" style="margin-top: 0">
						<li>
							<form ng-submit="savePassion()">
								<input ng-model="newPassion" type="text" style="margin-top: 10px"/>
								<button type="submit" class="btn">Add</button>
							</form>
						</li>
					</ul>
				</div>
				-->
			</div>
		</div>



		<div class="communities" style="clear: left">
			<h3 style="padding-top: 2em">Communities</h3>
			<div ng-repeat="community in communities">
				<div class="span6">
					<input ng-model="community.name" class="name span6" type="text"/>
					<textarea ng-model="community.description" class="span6" style="height: 225px;"></textarea>
					<div style="text-align: right">
						<label>
							photo credit
							<input ng-model="community.photoCredit" class="span3" type="text"/>
						</label>
					</div>
				</div>
				<div class="span3">
					<img ng-src="/profile/{{username}}/community/{{$index}}/image?{{communityImageUrlTimestamps[$index]}}"/>
					<input uploader type="file" data-url="member/community/{{$index}}/image" 
					name="communityImage"		
					onUpload="communityImageUploaded($index)">

					<img ng-src="/profile/{{username}}/community/{{$index}}/icon?{{communityIconUrlTimestamps[$index]}}"/>
					<input uploader type="file" data-url="member/community/{{$index}}/icon" 
					name="communityIcon"		
					onUpload="communityIconUploaded($index)">
				</div>
			</div>
		</div>


		<h3 style="clear: left">Background</h3>
		<div class="span3">
			<img ng-src="{{backgroundImageUrl}}"/>
			<input uploader type="file" data-url="member/backgroundImage" name="backgroundImage"
				onUpload="backgroundImageUploaded()"/>
		</div>
		<div class="who span6" style="height: 315px">
			<textarea ng-model="background" class="span6" style="height: 225px;"></textarea>
			<div style="text-align: right">
				<label>
					photo credit
					<input ng-model="photoCredits['background']" class="span3" type="text"/>
				</label>
			</div>
		</div>

		<h3 style="clear: left">Future plans</h3>
		<div class="span3">
			<img ng-src="{{futureImageUrl}}"/>
			<input uploader type="file" data-url="member/futureImage" name="futureImage"
				onUpload="futureImageUploaded()"/>
		</div>
		<div class="who span6" style="height: 315px">
			<textarea ng-model="future" class="span6" style="height: 225px;"></textarea>
			<div style="text-align: right">
				<label>
					photo credit
					<input ng-model="photoCredits['future']" class="span3" type="text"/>
				</label>
			</div>
		</div>
	</div>


	<div ng-show="isEqual(subEdit, 'things')">
		<h3>add a thing</h3>

		<div class="newThingContainer span10">
			<div class="span10" style="clear: left">
				<div style="padding-left: 1.5em">
					<span class="glyph-choice" ng-repeat="icon in getIcons()">
						<span class="glyph-choice-inner" ng-click="setNewThingGlyph(icon)">
							<i class="icon-{{icon}} passive"
							ng-class="{ selected: areEqual(icon, thing.glyph) }"></i>
							<i class="icon-{{icon}} icon-white active" 
							ng-class="{ selected: areEqual(icon, thing.glyph) }"></i>
						</span>
					</span>
				</div>
			</div>
			<div style="padding-top: 1em; clear: left">
				<label class="span3">
					A <input ng-model="thing.unit" class="span2" placeholder="(unit of measure)" type="text" /> 
				</label>
				<label class="span3">
					of <input ng-model="thing.name" placeholder="(thing I would appreciate)" type="text" />, 
				</label>
				<label class="span2">
					for <input ng-model="thing.price" class="span1" type="text" /> dollars.
				</label>
			</div>
		</div>

		<div class="newThingContainer span10" 
			style="margin-top: 2px; background-color: #f6f6f6; color: #333;">
			<div style="clear: left; padding-top: 1ex">
				<label class="span3">
					Goal is
					<input ng-model="thing.goal" placeholder="(e.g. 30)" type="text" class="span1"/> 
					every month.
				</label>
				<div class="span3">
					<button class="btn" ng-click="addThing()">Add thing</button>
				</div>

			</div>
		</div>


		<h3 style="clear: left; padding-top: 1.5em">things <small>:: {{things.length}}</h3>

 		<div ui-sortable="{ axis: 'y', update: markThingsAsChanged }" ng-model="things">
			<div class="row" ng-repeat="thing in things" style="user-select: none !important"
				ng-class-odd="'odd'">
				<div class="editThingContainer span10">
					<span class="span1 moveThing" style="width: 1ex">
						<i class="icon-resize-vertical"></i>
					</span>
					<span class="span3">A {{thing.unit}}</span>
					<span class="span3">of {{thing.name}},</span>
					<span class="span1" style="width: 1ex"><i class="icon-{{thing.glyph}}"> </i></span>
					<span class="span2">for {{thing.price}} dollars.</span> 
					<span class="span1 thingTrashIcon" style="text-align: right; width: 1ex">
						<i class="icon-trash" ng-click="deleteThing(thing)" style="padding-right: 1.1em"></i>
					</span>
				</div>
				<div class="span1" style="padding: 2ex; padding-left: 0">{{thing.goal}}</div>
			</div>
		</div>		
 	</div>

	<div ng-show="isEqual(subEdit, 'account')">
		<h3 style="clear: left;">contribution destination</h3>
		<div class="span4" ng-show="hasStripeAccount">
			<p>Connected to your Stripe account.</p>
		</div>
		<div class="span4" ng-hide="hasStripeAccount">
			<a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id={{stripeConnectClientId}}&scope=read_write" class="stripe-connect light-blue"><span>Connect with Stripe</span></a>
		</div>

		<h3 style="clear: left; padding-top: 1.5em">profile name</h3>
		<div class="span7">
			<form ng-submit="saveProfile()">
				<input ng-model="username" class="name" type="text"/> 
				<h3 style="display: inline"><small>:: {{email}}</small></h3>
				<div style="margin-bottom: 1.5em">
					<button type="submit" class="btn">Save</button>
				</div>
			</form>
		</div>

		<div style="margin-bottom: 2em">
			&nbsp;
		</div>
	</div>
</div>
</div>