<div class="header" ng-controller="HeaderCtrl">
	<a href="/">
		<img class="copperHeartImg" src="/img/copperHeartSmall.png"/>
	</a>

	<span ng-show="!isSignedIn()">Welcome to <a href="#/about">Copper Heart</a>.</span>
	<span ng-show="isSignedIn()">
		<div>
			Welcome, {{patron.getUsername()}}
			<span ng-show="isMember()"> :
				<a href="/#/hello/{{patron.getUsername()}}">profile</a> : 
				<a href="/#/edit">edit</a>
			</span>
		</div> 
		<a href="/#/entrance">entrance</a> .
		<a href="/#/edit/contributions">contributions</a>
		
	</span>
	<span ng-show="isSignedIn()"> .
		<a ng-show="isSignedIn()" ng-click="signOut()" style="cursor:pointer">sign out</a>
	</span>

	<h6 id="login">
		<a ng-show="!isSignedIn()" href="/auth/google?from=%23/{{getPageName()}}">sign in with Google</a>
	</h6>
</div>