<!-- TODO: Does this cause flashing? Can we do something about that? -->
<div ng-include src="'/partials/header.html'"></div>

<div class="view">
<div class="profile span12">
	<div class="whoContainer span12">
		<div class="who span6">
			<h3 id="whoName">{{profile.getName()}}</h3>
			<div id="whoPresent" ng-bind-html="profile.getPresent()">
			</div>
		</div>
		
		<div class="projects span4">
			<h3>Communities</h3>
			<ul>
				<!-- TODO: Is data binding to the href based on 
					 user input an injection-attack issue? -->
				<li ng-repeat="community in profile.getCommunities()">
					<a href="{{community.url}}">{{community.name}}</a>
				</li>
			</ul>

			<!-- TODO: Have a list of past projects in here, somehow. -->

			<h3>Passions</h3>
			<ul>
				<li ng-repeat="passion in profile.getPassions()">{{passion}}</li>
			</ul>
		</div>
	</div>

	<!-- -->
	<div class="process span12">
		<div class="row">
			<h3 class="contributeTitle span7">Contribute</h3>
			<!-- hearts -->
			<h3 class="contributeHearts span3">
				<span ng-repeat="thing in contributions">
					<span class="heart" ng-show="thing.canHaz && !thing.recurring">♥</span>
					<span class="recurringHeart" 
						ng-show="thing.canHaz && thing.recurring">♥</span>
				</span>&nbsp;
			</h3>
		</div>

		<div class="things span4">
			<div style="clear: left">
				<label ng-repeat="thing in contributions" class="checkbox choice-group"
					ng-class="{ canHaz: thing.canHaz }">
					<input type="checkbox" ng-model="thing.canHaz" id="{{thing.id}}"/>
					<span>A {{thing.unit}} of {{thing.name}}</span>
					<div class="glyph"><i class="icon-{{thing.glyph}}"></i></div>
					<span class="price">${{thing.price}}</span>
				</label>
			</div>
		</div>

		<div class="frequency span3">
			<div>
				<div class="freqThing" ng-repeat="thing in contributions">
					<div class="row freq-group" ng-class="{ peerSelected: thing.canHaz}" >
						<div class="freq-choice" ng-click="setFrequency(thing, 'once')"
							ng-class="{ 
								selected: 
									thing.canHaz &&
									!thing.recurring
							}">
							<div class="heart once">♥</div>
							<label>once</label>
						</div>
						<div class="freq-choice" ng-click="setFrequency(thing, 'month')"
							ng-class="{ 
								selected: 
									thing.canHaz &&
									thing.recurring && 
									isEqual(thing.frequency, 'month') 
							}">
							<div class="copper heart monthly">♥</div>
							<label>monthly</label>
						</div>
						<div class="freq-choice" ng-click="setFrequency(thing, 'week')"
						ng-class="{ 
							selected: 
								thing.canHaz &&
								thing.recurring && 
								isEqual(thing.frequency, 'week') 
							}">
							<div class="copper heart">♥</div>
							<div class="copper heart">♥</div>
							<div class="copper heart">♥</div>
							<div class="copper heart">♥</div>
							<label>weekly</label>
						</div>
						<div class="freq-choice" ng-click="setFrequency(thing, 'day')"
						ng-class="{ 
							selected: 
								thing.canHaz &&
								thing.recurring && 
								isEqual(thing.frequency, 'day') 
							}">
							<div class="copper heart">♥♥♥♥♥</div>
							<div class="copper heart">♥♥♥♥♥</div>
							<div class="copper heart">♥♥♥♥♥</div>
							<div class="copper heart">♥♥♥♥♥</div>
							<label>daily</label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="total span3">
			<p>You've selected things that come to <strong>{{priceNow() | currency}}</strong> now, and
			{{pricePerMonth() | currency}} each month after that.</p>
			<div id="contributeButton">
				<button class="btn" ng-click="toContribute()">Contribute</button>
			</div>
		</div>
	</div>

	<div class="support span12">
		<div class="row"><h3 class="contributeTitle span7">Supported by the following monthly contributions</h3></div>
		<div class="supportRow" ng-repeat="thing in profile.getSupport()">
			<span class="supportText">A {{thing.unit}} of {{thing.name}}.</span>
			<span class="copper heart">♥</span> {{thing.count | number:0 }}</span>
		</div>
	</div>

	<div class="backers span12">
		<div class="row"><h3 class="contributeTitle span7">Backed by the following people</h3></div>
		<div class="backersContent">
			<span ng-repeat="backer in profile.getBackers()">
				{{backer}}
				<span ng-show="$middle">,</span>
			</span>
		</div>
	</div>
</div>
</div>
