<h2>Hello!</h2>

<div class="profile span7">
	<div id="profileImg">:-)</div>

	<!-- TODO: This is going to come from a database, clearly :-)-->
	<div class="present">My name is Phil. I am a software maker, dance instructor, swing DJ, and community volunteer. I'm a co-founder of <a href="http://corvallisswing.com">Corvallis Swing</a>, putting together events such as <a href="http://swingandblues.org">Swing and Blues Weekend</a>.</div>

	<!-- -->
	<div class="things">
		<h4>Here are some things</h4>
			<div class="question-section">
				<label ng-repeat="thing in things" class="checkbox choice-group">
					<input type="checkbox" ng-model="thing.canHaz" id="{{thing.id}}"/>
					<span>{{thing.name}}</span>
					<div class="glyph {{thing.id}}"></div>
				</label>
			</div>
	</div>
</div>

