

<div class="profile span10">
	<div id="profileImg">:-)</div>

	<!-- TODO: This is going to come from a database, clearly :-)-->
	<div class="present">My name is Phil. I am a software maker, dance instructor, swing DJ, and community volunteer. I'm a co-founder of <a href="http://corvallisswing.com">Corvallis Swing</a>, putting together events such as <a href="http://swingandblues.org">Swing and Blues Weekend</a>.</div>

	<!-- -->
	<div class="process">
		<div class="things span4">
			<h4>Contribute</h4>	
			<div>
				<label ng-repeat="thing in things" class="checkbox choice-group">
					<input type="checkbox" ng-model="thing.canHaz" id="{{thing.id}}"/>
					<span>A {{thing.unit}} of {{thing.name}}</span>
					<div class="glyph {{thing.id}}"></div>
					<span class="price">${{thing.price}}</span>
				</label>
			</div>
		</div>

		<div class="frequency span3">
			<h4>&nbsp;</h4>
			<div>
				<div ng-repeat="thing in things">
 					<label class="choice-group checkbox turnOnRecurring {{thing.canHaz}}" 
 						ng-hide="thing.recurring">
 						<input type="checkbox" ng-model="thing.recurring"/>
						<span>(more than once?)</span>
					</label>

 					<div class="choice-group checkbox" ng-show="thing.recurring">
						<input type="checkbox" ng-model="thing.recurring"/>
						<label class="span2 eachWhat">
							<span>each</span>
							<select class="span2" ng-model="thing.frequency">
								<option>month</option>
								<option>week</option>
								<option>day</option>
							</select>
						</label>
					</div>
				</div>
			</div>
		</div>

		<div class="total span3">
			<h4>:-)</h4>
			<p>You've selected things that come to ${{totalPrice()}}.</p>
			<div id="contributeButton">
				<button class="btn btn-inverse" ng-click="">Contribute</button>
			</div>
		</div>
	</div>
</div>

