<div class="currentlyDoing">
	<h3>what's your name?</h3>
	<input ng-model="name" class="name" type="text"/>
	<button class="btn saveNameBtn" ng-click="saveWho()">Save</button>

	<div class="row">
		<div class="span3">
			<h3>have a picture?</h3>
			
			<div style="background-color: #999"><img ng-src="{{profileImageUrl}}" style="width: 270px; height: 200px"/></div>
			<div style="margin: 1ex; margin-right: 0; margin-left: 0; margin-top: 1.4ex">Main profile image
				<div class="btn fileinput-button" style="float: right; margin-top: -5px">
					Upload ...
					<input uploader type="file" data-url="member/profileImage" name="profileImage"		
					onUpload="profileImageUploaded()" />
				</div>
			</div>
		</div>

		<div class="span6">
			<h3>what are you working on?</h3>
			<textarea ng-model="present" class="span6" style="height: 225px; margin-bottom: 0.7ex" ></textarea>
			<div style="text-align: right">
				<button class="btn" ng-click="saveWho()">Save</button>
			</div>
		</div>
	</div>
</div>

<h3 style="clear: left; padding-top: 1.4em">what's your background?</h3>		
<div style="float: left">
	<div style="background-color: #999; float: left;">
		<img 
			ng-src="{{backgroundImageUrl}}"
			style="width: 480px; height: 270px"
		/>
	</div>
	<div style="clear: left; padding: 0.7ex 0 1ex 0">
		<div style="float: left">
			<div class="btn fileinput-button">
				Upload ...
				<input uploader type="file" 
					data-url="member/backgroundImage" name="backgroundImage"
					onUpload="backgroundImageUploaded()"/>
			</div>
		</div>
		<div style="float: right">
			<div style="text-align: right">
				<label>
					photo credit
					<input ng-model="photoCredits['background']" class="span3" type="text"/>
				</label>
			</div>
		</div>
	</div>
</div>
<div class="span6" style="margin-left: 0.3ex">
	<textarea ng-model="background" class="span6" style="height: 260px; margin-bottom: 0.7ex"></textarea>
	<div style="text-align: right">
		<button class="btn" ng-click="saveWho()">Save</button>
	</div>
</div>


<h3 style="clear: left; padding-top: 1.4em">what are your future plans?</h3>
<div style="float: left">
	<div style="background-color: #999; float: left;">
		<img 
			ng-src="{{futureImageUrl}}"
			style="width: 580px; height: 270px"
		/>
	</div>
	<div style="clear: left; padding: 0.7ex 0 1ex 0">
		<div style="float: left">
			<div class="btn fileinput-button">
				Upload ...
				<input uploader type="file" 
					data-url="member/futureImage" name="futureImage"
					onUpload="futureImageUploaded()"/>
			</div>
		</div>
		<div style="float: right">
			<div style="text-align: right;">
				<label>
					photo credit
					<input ng-model="photoCredits['future']" class="span3" type="text"/>
				</label>
			</div>
		</div>
	</div>
</div>
<div class="span5" style="margin-left: 0.3ex">
	<textarea ng-model="future" class="span5" style="height: 260px; margin-bottom: 0.7ex"></textarea>
	<div style="text-align: right">
		<button class="btn" ng-click="saveWho()">Save</button>
	</div>
</div>
