<div class="currentlyDoing">
	<h3>what's your name?</h3>
	<input ng-model="name" class="edit-name" type="text"/>
	<button class="btn edit-saveNameBtn" ng-click="saveWho()">Save</button>

	<div class="row">
		<div class="span3">
			<h3>have a picture?</h3>
			<div class="edit-img-container"><img 
				ng-src="{{profileImageUrl}}" 
				class="edit-profile-img"/>
			</div>
			<div class="edit-profile-img-footer">Main profile image
				<div class="btn fileinput-button edit-profile-btn">
					Upload ...
					<input uploader type="file" data-url="member/profileImage" name="profileImage"		
					onUpload="profileImageUploaded()" />
				</div>
			</div>
		</div>

		<div class="span6">
			<h3>what are you working on?</h3>
			<textarea ng-model="present" class="span6 edit-present-area"></textarea>
			<div class="edit-save-container">
				<button class="btn" ng-click="saveWho()">Save</button>
			</div>
		</div>
	</div>
</div>

<h3 class="edit-about-h3">what's your background?</h3>		
<div class="pull-left">
	<div class="edit-img-container pull-left">
		<img 
			ng-src="{{backgroundImageUrl}}" 
			class="edit-background-img"
		/>
	</div>
	<div class="edit-img-footer">
		<div class="pull-left">
			<div class="btn fileinput-button">
				Upload ...
				<input uploader type="file" 
					data-url="member/backgroundImage" name="backgroundImage"
					onUpload="backgroundImageUploaded()"/>
			</div>
		</div>
		<div class="pull-right">
			<div class="edit-photocredit-container">
				<label>
					photo credit
					<input ng-model="photoCredits['background']" class="span3" type="text"/>
				</label>
			</div>
		</div>
	</div>
</div>
<div class="span6 edit-desc-container">
	<textarea ng-model="background" class="span6 edit-desc-textarea"></textarea>
	<div class="edit-save-container">
		<button class="btn" ng-click="saveWho()">Save</button>
	</div>
</div>


<h3 class="edit-about-h3">what are your future plans?</h3>
<div class="pull-left">
	<div class="edit-img-container pull-left">
		<img 
			ng-src="{{futureImageUrl}}"
			class="edit-future-img"
		/>
	</div>
	<div class="edit-img-footer">
		<div class="pull-left">
			<div class="btn fileinput-button">
				Upload ...
				<input uploader type="file" 
					data-url="member/futureImage" name="futureImage"
					onUpload="futureImageUploaded()"/>
			</div>
		</div>
		<div class="pull-right">
			<div class="edit-photocredit-container">
				<label>
					photo credit
					<input ng-model="photoCredits['future']" class="span3" type="text"/>
				</label>
			</div>
		</div>
	</div>
</div>
<div class="span5 edit-desc-container">
	<textarea ng-model="future" class="span5 edit-desc-textarea"></textarea>
	<div class="edit-save-container">
		<button class="btn" ng-click="saveWho()">Save</button>
	</div>
</div>
