<div ng-controller="EditCommunitiesCtrl">
<div class="projects span8" style="clear: left; float: left; margin-top: 2em">
	<div class="span4">
		<h3>Communities</h3>
		<ul style="margin-bottom: 0">
			<li ng-repeat="community in communities" class="communityContainer">
				<span>{{community.name}}</span>
				<span class="thingTrashIcon" ng-click="deleteCommunity(community)">
					<i class="icon-trash" 
					style="margin-left: 1.5ex; margin-bottom: 2px; vertical-align: bottom"></i>
				</span>
			</li>
		</ul>

		<ul ng-hide="isAtCommunityLimit()" style="margin-top: 0">
			<li>
				<form ng-submit="saveCommunity()">
					<input ng-model="newCommunity.name" type="text" style="margin-top: 10px"
					placeholder="community name" />
					<!--
					TODO: A community url could have a place in the future, but not at the moment.
						<input ng-model="newCommunity.url" type="text" style="margin-top: -8px" 
					placeholder="web address (url)" /> -->
					<button type="submit" class="btn" style="margin-top: -18px">Add</button>
				</form>
			</li>
		</ul>
	</div>


	<!--
	TODO: Passions could play a role in a future design of Copper Heart, but
	I think for the time being we need to finish other parts first.
		<div class="span3">
		<h3>Passions</h3>
		<ul style="margin-bottom: 0">
			<li ng-repeat="passion in passions" class="passionContainer">
				<span class="">{{passion}}</span>
				<span class="thingTrashIcon" ng-click="deletePassion(passion)">
					<i class="icon-trash" 
					style="margin-left: 1.5ex; margin-bottom: 2px; vertical-align: bottom"></i>
				</span>
			</li>
		</ul>

		<ul ng-hide="isAtPassionLimit()" style="margin-top: 0">
			<li>
				<form ng-submit="savePassion()">
					<input ng-model="newPassion" type="text" style="margin-top: 10px"/>
					<button type="submit" class="btn">Add</button>
				</form>
			</li>
		</ul>
	</div>
	-->
</div>

<div class="communities" style="clear: left">
	<h3 style="padding-top: 2em">Communities</h3>
	<div ng-repeat="community in communities">
		<div class="span6">
			<input ng-model="community.name" class="name span6" type="text"/>
			<textarea ng-model="community.description" class="span6" style="height: 225px;"></textarea>
			<div style="text-align: right">
				<label>
					photo credit
					<input ng-model="community.photoCredit" class="span3" type="text"/>
				</label>
			</div>
		</div>
		<div class="span3">
			<img ng-src="{{getCommunityImageUrl(community, $index)}}"/>
			<input uploader type="file" data-url="member/community/{{$index}}/image" 
			name="communityImage"		
			onUpload="communityImageUploaded($index)">

			<img ng-src="{{getCommunityIconUrl(community, $index)}}"/>
			<input uploader type="file" data-url="member/community/{{$index}}/icon" 
			name="communityIcon"		
			onUpload="communityIconUploaded($index)">
		</div>
	</div>
</div>
</div>