body {
	background: #96401E;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	padding: 0;
}

a {
	color: #444;
	background-color: white;
}
a:hover {
	color: black;
}

.copper {
	color: #96401E;
}

.container {
	background: inherit;
	border: solid 1px #555;
	border-top: 0;
	border-bottom: 0;
	min-width: 725px !important;

	font-family: 'Special Elite', cursive;
}
select, button {
	font-family: 'Special Elite', cursive;
}

.view {
	padding-bottom: 6em;
}

.header {
	background: #181818;
	color: #eee;
	padding: 1.5ex;
	padding-right: 2em;
	text-align: right;
}
#login {
	margin: 0;
	font-weight: normal;
}
#login a {
	color: #eee !important;
	background-color: #222;
}


.footer {
	clear: left;
	background: #181818;
	color: white;
	margin: 0;
	padding: 3em;
	text-align: center;
}

h3 {
	font-family: 'Special Elite', cursive;
}

.profile {
	margin-left: 0;
}

#patronName {
	color: #96401E;
}


.process {
	color: black;
	padding-top: 2em;
	border-bottom: dotted 1px #96401E;
}

.choice-group {
	border-top: dotted #1c1c1c 1px;
	margin: 0 !important;
	padding: 2em;
}
.choice-group .glyph, .choice-group span {
	padding-left: 7px;
}
.choice-group .glyph {
	vertical-align: top;
}
.choice-group:hover {
	background: #444;
	cursor: pointer;
}
.choice-group:hover .price {
	color: #eee;
}
.choice-group.canHaz { 
	color: #96401E;
	background: #1e1e1e;
}
.choice-group.canHaz select {
	background: #181818;
}

.choice-group.canHaz .price, .choice-group.canHaz select {
	color: #888;
}

.process select {
	color: black;
	background-color: #888;
}


/* Contribution */
.glyph, .drink, .internet, .rent, .groceries {
	background-image: url(/img/glyphicons-halflings.png);
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-top: 3px;
	margin-left: 10px;
}

.drink {
	background-position: 0 0;
}
.internet {	
	background-position: -335px -145px;
}
.rent {
	background-position: 0 -25px;
}
.groceries {
	background-position: -360px -120px;
}

.price {
	font-size: 10pt;
	color: #555;
}

.things {
	margin-top: 3px;
}


/* Frequency */
.frequency, .total {

}
.frequency .choice-group {
	padding-top: 1.80em;
	padding-bottom: 2.25em;
	padding-right: 0;
}

.turnOnRecurring {
	color: #444;
}
.turnOnRecurring.peerSelected {
	color: black;
}

.recurring {
	cursor: default !important;
}

.eachWhat {
	margin-left: 0;
	margin-top: -0.5ex;	
}

.frequency select {
	margin: 0;
	padding: 0;
	width: 90px;
	margin-left: 1ex;
}

/* Total column */
.recurringHeart {
	color: #96401E;
}

.total p {
	padding: 2em;
	padding-left: 0.5ex;
	padding-bottom: 0;
	border-top: dotted #1c1c1c 1px;
}

.total #contributeButton {
	text-align: center;
	margin-left: auto;
	margin-top: 2em;
}


/* Contribution page */
/* TODO: Move to its own file */
.firstColumn {
	margin-left: 0;
	padding-left: 1.5em;	
}
.secondColumn {
	margin-left: 0;
	padding-left: 1.5em;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;

}
.thirdColumn {
	margin-left: 0;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

ul.contributionList {
	list-style: none;
	margin-left: 0;
}

ul.contributionList .glyph {
	vertical-align: top;
	margin-right: 0.5ex;
}

ul.contributionList .contribution {
	line-height: 1.5em;
}

.card {
	border: solid 1px #999;
	background: #f3f3f3;
	padding: 20px;
}

.cardNumberRow, .expirationRow, .cvcRow {
	width: 35ex;
}
.cardNumber {
	width: 32ex !important;
}

.expMonth, .expYear {
	text-align: right;
}
.expMonth {
	width: 8ex !important;
}
.expYear {
	width: 10ex !important;
}
.cvcNumber {
	width: 5ex !important;
}

select.paymentDay {
	width: 9ex !important;
}