body {
	/*background: #96401E;*/
	background: #eee;
	font: 12pt "Solomon", "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 12pt;
	padding: 0;
}
.btn {
	font-size: 12pt !important;
}

a {
	color: #444;
	color: #500;
	color: #96401E;
}
a:hover {
	color: black;
}

.copper {
	color: #96401E;
}

.container {
	background: inherit;
	border-top: 0;
	border-bottom: 0;
	border-right: 0;
	min-width: 725px !important;
}
.container, select, button, .eachWhat, input, textarea {
	/*
	 * TODO: Possibly use Solomon, if our
	 * license allows us to keep it in a 
	 * public Github repository. Otherwise,
	 * we'll have to save it elsewhere, which
	 * might not be worth it.
	 */
	font-family: "Solomon", sans-serif;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 13pt;
}
h3, h4, .name {
	font-family: "Bree Serif", serif;
	font-weight: normal;
	font-size: 18pt;
}
h4 {
	font-size: 11pt;
}

ul {
	list-style: circle;
}


.view {
	padding-bottom: 1.5em;
}

.header {
	border-bottom: dotted #888 1px;
	padding: 1.5ex;
	padding-right: 2em;
	text-align: right;
	margin-bottom: 1em;
}
.copperHeartImg {
	margin-top: 0.5ex; margin-left: 6ex;
	float: left;
}
#login {
	margin: 0;
	font-weight: normal;
}
#login a {

}


.footer {
	clear: left;
	/*background: #181818;*/
	border-top: #181818 dotted 1px;
	margin: 0;
	padding: 3em;
	text-align: center;
}

.profile {
	margin-left: 0;
	background: #eee;
}

.who, .projects {
	background: #fff;
	padding: 1em;
	padding-top: 1ex;
	height: 100%;
}
.projects {
	background: #f3f3f3;
}
.whoContainer {
	height: 300px;
}


#whoName {
	/*color: #96401E;*/
}


.process {
	color: black;
	padding-top: 2em;
}

.choice-group {
	border-top: dotted #1c1c1c 1px;
	margin: 0 !important;
	padding: 2em;
	padding-left: 2.25em;
	font-size: 12pt !important;
}
.choice-group .glyph, .choice-group span {
	padding-left: 7px;
}
.choice-group .glyph {
	vertical-align: top;
}
.choice-group:hover {
	background: #444;
	color: #fff;
	cursor: pointer;
}
.choice-group:hover .price {
	color: #eee;
}
.choice-group.canHaz { 
	color: #96401E;
	background: #1e1e1e;
}
.choice-group.canHaz select {
	background: #181818;
}

.choice-group.canHaz .price, .choice-group.canHaz select {
	color: #888;
}

.process select {
	color: black;
	background-color: #888;
}


/* Contribution */
.contributeTitle {
	padding-left: 1.85em;
}
.contributeHearts {
	
	padding-left: 2.40em;
}
.heart, .contributeHearts {
	font-family: Georgia, Verdana;
}

.glyph, .drink, .internet, .rent, .groceries {
	background-image: url(/img/glyphicons-halflings.png);
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-top: 3px;
	margin-left: 10px;
}

.drink {
	background-position: 0 0;
}
.internet {	
	background-position: -335px -145px;
}
.rent {
	background-position: 0 -25px;
}
.groceries {
	background-position: -360px -120px;
}

.price {
	font-size: 11pt;
	color: #555;
}

.things {
	margin-top: 3px;
	padding: 1.5em; padding-top: 1ex; padding-left: 0;
}

/* Frequency */
.frequency, .total {

}
.frequency {
	padding: 0.8em; padding-top: 1.3ex;
	margin-top: 1px;
}
.freqThing {
/*	padding-top: 3px;*/
}

.frequency .choice-group {
	padding-top: 1.95em;
	padding-bottom: 2.12em;
	padding-right: 0;
}

.turnOnRecurring, .turnOnRecurring:hover {
	color: #bbb;
}
.turnOnRecurring.peerSelected {
	color: black;
}
.turnOnRecurring.peerSelected:hover {
	color: white;
}

.recurring {
	cursor: default !important;
}

.eachWhat {
	margin-left: 0;
	margin-top: -0.5ex;	
}

.frequency select {
	margin: 0;
	padding: 0;
	width: 90px;
	margin-left: 1ex;
}

/* Total column */
.recurringHeart {
	color: #96401E;
}
.total {
	margin-top: 1px;
	padding: 1em; padding-top: 1.3ex;
}

.total p {
	padding: 2em;
	padding-left: 0.5ex;
	padding-bottom: 0;
	border-top: dotted #1c1c1c 1px;
}

.total #contributeButton {
	text-align: center;
	margin-left: auto;
	margin-top: 2em;
}


/* Contribution page */
/* TODO: Move to its own file */
.whatContribution {
	padding-top: 1ex;
	background-color: white;
	padding-bottom: 1.5em;
}
.whenContribution {
	margin-top: 1.5em;
	padding-bottom: 1.5em;
}
.howContribution {
	background-color: #f3f3f3;
	margin-top: 1.5em;
	padding-bottom: 1em;
}

ul.contributionList {
	list-style: none;
	margin-left: 0;
}

ul.contributionList .glyph {
	vertical-align: top;
	margin-right: 0.5ex;
}

ul.contributionList .contribution {
	line-height: 1.5em;
}

.notPossible {
	opacity: 0.25;
}

/* chat bubble from http://ilikepixels.co.uk/drop/bubbler/ */
.bubble 
{
	position: relative;
	width: 240px;
	padding: 15px;
	margin-top: 16px;
	background: #eee;
	border: #999 solid 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.bubble:after 
{
	content: "";
	position: absolute;
	top: -10px;
	left: 100px;
	border-style: solid;
	border-width: 0 10px 10px;
	border-color: #eee transparent;
	display: block;
	width: 0;
	z-index: 1;
}

.bubble:before 
{
	content: "";
	position: absolute;
	top: -11px;
	left: 100px;
	border-style: solid;
	border-width: 0 10px 10px;
	border-color: #999 transparent;
	display: block;
	width: 0;
	z-index: 0;
}


/* change behavior of the light-blue borders
that bootstrap creates on focus, and the yellow
outlines that Chrome creates on select elements */
input:focus, select:focus {
	border-color: #666 !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	outline: none !important;
}

.card {
	border: solid 1px #999;
	background: #f3f3f3;
	background: #eee;
	color: #333;
	padding: 20px;
}

.cardNumberRow, .expirationRow, .cvcRow {
	width: 35ex;
}
.cardNumber, .cardName {
	font-size: 12pt !important;
	width: 25ex !important;
	text-align: right;
}
.expText {
	padding-right: 1ex;
}

.expMonth, .expYear {
	text-align: right;
}
.expMonth {
	width: 8ex !important;
}
.expYear {
	width: 10ex !important;
}
.cardName {
	text-align: left;
}
.cvcNumber {
	font-size: 12pt !important;
	width: 5ex !important;
	text-align: right;
}

select.paymentDay {
	width: 9ex !important;
}

.payment-errors {
	background-color: red;
}

.errorBubble 
{
	position: relative;
	padding: 15px;
	background: transparent;
	border: #00a solid 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.errorBubble:after 
{
	content: "";
	position: absolute;
	top: 29px;
	left: -10px;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	/* second color below is background */
	border-color: transparent #f3f3f3; 
	display: block;
	width: 0;
	z-index: 1;
}

.errorBubble:before 
{
	content: "";
	position: absolute;
	top: 29px;
	left: -11px;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	border-color: transparent #00a;
	display: block;
	width: 0;
	z-index: 0;
}


/* Edit page */
.name {
	font-size: 18pt !important;
	height: 26px !important;
}

.passionContainer:hover, .communityContainer:hover {
	background: #bbb;
}
.passionContainer .thingTrashIcon, .communityContainer .thingTrashIcon {
	display: none;
}
.passionContainer:hover .thingTrashIcon, .communityContainer:hover .thingTrashIcon {
	/*
	 * TODO: How does this work for iPad? 
	 */
	display: inline;
}

.newThingContainer {
	padding-bottom: 0;
	color: #eee;
	background-color: #333;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.newThingContainer input {
	margin-left: 1ex; margin-right: 1ex;
	margin-bottom: 0;
}

.editThingContainer, .newThingContainer {
	padding: 2ex;
	padding-left: 4ex;
	/*padding-top: 0.5ex;
	padding-bottom: 0.5ex;*/

}
.editThingContainer.odd {
	background-color: #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.editThingContainer .thingTrashIcon {
	display: none;
}
.editThingContainer:hover .thingTrashIcon {
	/*
	 * TODO: How does this work for iPad? 
	 */
	display: inline-block;
}
.thingTrashIcon:hover {
	cursor: pointer;
}

.things .span1 {
/*	width: 5ex !important;
	border: solid 1px red;
*/}